* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #24468b;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
  overflow: hidden;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}

.logout {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

.mybutton {
  position: fixed;
  bottom: 8px;
  right: 10px;
}
